:root {
    --bg-color : #000000f7;
    --border-color : rgba(65, 61, 61, 0.583);
    --white-color : #FFFFFF;
    --type-color : #4D5BCE;
    --var-color : #43D9AD;
    --value-color : #E99287;
    --highlight-color : #4D5BCE;
    --text-color : #8cbae9ef;
    --white-color : #FFFFFF
}

html {
    background: var(--bg-color);
}

body {
    margin: 0;
    padding: 10px;
    height: calc(100vh - 20px);
}

* {
    font-family: "Ubuntu Mono", monospace;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: unset;
}

.space-between {
    flex: 1
}

.comment {
    font-size: 14px;
    color: #607B96;
    margin: 5px 0;
    line-height: 1.5rem;

    &::before {
        content: '// ';
    }
}
